.likesMain {
  margin: 15px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.likesMain__icon {
  color: rgb(86, 172, 243);
  display: inline;
  margin-right: 10px;
  font-size: 10px;
  margin-left: 20px;
}

.likesMain h1 {
  display: inline;
  font-size: 20px;
  margin-right: 10px;
}

.likesMain h2 {
  display: inline;
  font-size: 14px;
}

/* no likes text */
.noLikes__text {
  text-align: center;
  margin-top: 45%;
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
